<h1> All Employees </h1>
<% @employees.each do |employee| %>
    <p><%= link_to employee.full_name, employee_path(employee) %></p>
<% end %>
<br>
<%= link_to "Create a New Employee", new_employee_path %>
<p><%= link_to "See dogs", dogs_path %></p>